[submodule "stellaris-pool"]
	path = stellaris-pool
	url = https://github.com/StellarisChain/stellaris-pool.git
[submodule "quasar"]
	path = quasar
	url = https://github.com/StellarisChain/quasar.git
